<div class="header d-flex align-items-center justify-content-between">
    <img src="../../assets/images/image 7.png" height="30" class="ms-3 logo">
    <div class="d-flex align-items-center menu-bar">
        <button class="btn-home">
            <img src="../../assets/images/image 29.png">
        </button>
        <div class="menu">
            <p>โรคงูสวัดคืออะไร</p>
            <p>อาการ</p>
            <p>ใครบ้างที่มีความเสี่ยง </p>
            <p>ภาวะแทรกซ้อน </p>
            <p>โรคร่วมและความเสี่ยงต่อการเป็นงูสวัด </p>
        </div>
    </div>
</div>
<div class="body">
    <img src="../../assets/images/DR..png" alt="floating" class="floating-img">
    <div class="content1">
        <div class="container">
            <p class="topic">โรคงูสวัดอาจทำให้รู้สึกเจ็บปวด</p>
            <p class="topic fw-bold">เหมือนมีไฟช็อตสั่นสะเทือนไปทั่วร่างกาย<sup class="fs-4 sup-red">1</sup></p>
            <p class="description">คุณอาจเคยได้ยินมาว่าโรคงูสวัดทำให้เกิดความเจ็บปวดร้ายแรงเพียงใด เรียนรู้เพิ่มเติมเกี่ยวกับ ลักษณะอาการ ภาวะแทรกซ้อน รวมถึงทางเลือกในการรักษาและการป้องกัน</p>
        </div>
    </div>
    <div class="content2">
        <div class="container">
            <p class="topic">โรคงูสวัด</p>
            <p class="des">หรืออีกชื่อ คือ <span class="fw-bold">HERPES ZOSTER</span></p>
            <p class="des">มีสาเหตุมาจาก <span class="fw-bold">เชื้อไวรัส</span></p>
            <p class="sub-des fw-bold">โรคงูสวัดเป็นผื่นที่ก่อให้เกิดอาการเจ็บปวด<br>มีสาเหตุมาจากเชื้อไวรัส Varicella Zoster</p>
            <p class="sub-des">ไวรัสชนิดเดียวกับอีสุกอีใส ซึ่งไวรัส Varicella Zoster นั้น<br>
                จะแฝงอยู่ในตัวคุณตามแนวเส้นประสาท หลังจากเป็นโรคอีสุกอีใส<br>
                จนกระทั่งมีการกำเริบขึ้นมาอีกครั้ง<br>
                ซึ่งการกำเริบของเชื้อไวรัสเกี่ยวข้องกับปัจจัยเสี่ยงหลายประการ<br>
                รวมถึงระบบภูมิคุ้มกันที่เปลี่ยนแปลงไปตามวัย<sup>1</sup><br>
                มาเช็คกันว่าคุณมีความเสี่ยงหรือไม่ และรับข้อมูลเพิ่มเติมเกี่ยวกับวิธีการป้องกัน</p>
        </div>
        <img src="../../assets/images/img_tp2.png">
    </div>
    <div class="content3">
        <div class="topic-con">
            <p class="topic">ใครบ้างที่มีความเสี่ยงต่อโรคงูสวัด</p>
            <p class="sub-topic">คุณอาจมีความเสี่ยงหาก:</p>
        </div>
        <div class="gallery-wrapper">
        
        <div class="gallery">
            <div class="item">
                <img src="../../assets/images/img1.1.png" alt="" />
                <div class="sub">
                    <p>50+</p>
                    <div>
                        <img src="../../assets/images/Rectangle 116.png" alt="">
                        <span>โรคงูสวัดพบได้บ่อย<br>ที่สุดในผู้ที่มีอายุ 50 ปี<br>ขึ้นไป<sup class="sup-red">1</sup></span>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../../assets/images/img1.2.png" alt="" />
                <div class="sub">
                    <p>90%</p>
                    <div>
                        <img src="../../assets/images/Rectangle 116.png" alt="">
                        <span>มากกว่า 90% ของผู้ที่มี<br>อายุมากกว่า 50 ปีขึ้นไป<br>มีเชื้อไวรัสที่ก่อให้เกิด<br>โรคงูสวัดอยู่แล้ว<sup class="sup-red">2</sup></span>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../../assets/images/img1.3.png" alt="" />
                <div class="sub">
                    <p>1/3</p>
                    <div>
                        <img src="../../assets/images/Rectangle 116.png" alt="">
                        <span>โรคงูสวัดพบได้บ่อย<br>ที่สุดในผู้ที่มีอายุ 50 ปี<br>ขึ้นไป<sup class="sup-red">1</sup></span>
                    </div>
                </div>
            </div>
        </div>

        </div>

        <p class="note">*อาการของโรคงูสวัดในผู้ป่วยแต่ละรายอาจแตกต่างกันไป ข้อความเหล่านี้<br>
            อิงตามคำอธิบายของผู้ป่วยบางรายเกี่ยวกับอาการเจ็บปวดจากโรคงูสวัดและไม่ได้แสดงถึงประสบการณ์ของผู้ป่วยทุกคน*</p>
    </div>
    <div class="content4">
        <img src="../../assets/images/img-tp4.png" alt="">
        <div class="container">
            <p class="topic">ปัจจุบัน วัคซีนป้องกันงูสวัดมีอยู่ 2 ชนิด ได้แก่<sup>4</sup></p>
            <p class="sub-topic">ชนิดที่ 1 Recombinant Zoster Vaccine</p>
            <div class="des">
                <p class="me-3">ใครควรฉีด</p>
                <mat-icon>fiber_manual_record</mat-icon>
                <p class="ms-2">ผู้ที่มีอายุ 50 ปีขึ้นไป หรือผู้ที่มีอายุ 18 ปีขึ้นไป<br>ที่มีภาวะภูมิคุ้มกันบกพร่องและมีความเสี่ยงต่อการเป็นงูสวัด</p>
            </div>
            <div class="des">
                <p class="me-3">จำนวนเข็ม</p>
                <mat-icon>fiber_manual_record</mat-icon>
                <p class="ms-2">2 เข็ม ห่างกัน 2-6 เดือน</p>
            </div>
            
            <p class="sub-topic">ชนิดที่ 1 Recombinant Zoster Vaccine</p>
            <div class="des">
                <p class="me-3">ใครควรฉีด</p>
                <mat-icon>fiber_manual_record</mat-icon>
                <p class="ms-2">ผู้ที่มีอายุ 60 ปีขึ้นไป</p>
            </div>
            <div class="des">
                <p class="me-3">จำนวนเข็ม</p>
                <mat-icon>fiber_manual_record</mat-icon>
                <p class="ms-2">1 เข็ม</p>
            </div>
        </div>
    </div>
    <div class="content5">
        <img src="../../assets/images/img-tp5.png" class="img">
        <div class="container">
            <p class="topic">งูสวัดอย่าคิดว่าเรื่องเล็ก!</p>
            <p class="sub-topic">ปรึกษาแพทย์เพื่อลดความเสี่ยงตั้งแต่วันนี้</p>
        </div>
    </div>
    <div class="content5-1">
        <p>*รูปภาพแพทย์ถูกสร้างด้วยความช่วยเหลือจาก<br>Artificial Intelligence</p>
    </div>
</div>
<footer>
    <div (click)="toggleDropdown()" class="dropdown-tab">
        <p>ดูทั้งหมด</p>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div class="dropdown" *ngIf="isOpen">
        <div class="dropdown-header">
            <h2>ดูทั้งหมด</h2>
            <mat-icon (click)="toggleDropdown()">keyboard_arrow_up</mat-icon>
        </div>
        <p>Reference<br>
            1. Harpaz R;Morbidity and Mortality Weekly Report;2008;57;1-40<br>
            2. Kilgore PE;Journal of medical virology;2003;70;S111-8, (KC)<br>
            3. Infection Disease Association of Thailand. (2023). Recommended Adult and Elderly Immunization  <br> 
                Schedule (Thailand).
        </p>
    </div>
    <div class="mid">
        <div class="box">
            <div class="container">
                <img src="../../assets/images/Rectangle 37.png" alt="">
                <p>เงื่อนไขข้อตกงการใช้บริการ</p>
            </div>
            <div class="container">
                <img src="../../assets/images/Rectangle 37.png" alt="">
                <p>นโยบายความเป็นส่วนตัว</p>
            </div>
            <div class="container">
                <img src="../../assets/images/Rectangle 37.png" alt="">
                <p>นโยบายคุกกี้</p>
            </div>
        </div>
        
        
    </div>
    <div class="end">
        <p>กรุณาปรึกษาบุคลากรทางการแพทย์ เช่น แพทย์, เภสัชกร และ พยาบาล เป็นต้น<br>
            NP-TH-HZU-WCNT-240004 NP-TH-HZU-WCNT-240002</p>
    </div>
</footer>